@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: url('https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1634&q=80')
   
    }
</style>


@*<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img style="height: 12rem" src="https://images.unsplash.com/photo-1518557278941-40ad89cf7829?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
   
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img style="height: 12rem" src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1546&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
*@

<section class="row justify-content-center mt-5" style=" opacity: 0.9;">
    <div class="card col-md-6 float-md-end mb-3 ms-md-3"
         style="width: 18rem; padding: 20px; margin: 40px;">
        <img src="https://images.unsplash.com/photo-1518557278941-40ad89cf7829?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
             class="card-img-top"
             style="margin-bottom: 20px"
             alt="..." />
        <div class="card-body">
            <a target="_blank"
               class="
                  dropdown-item
                  justify-content-center
                  text-center
                  bg-info
            "
               href="">HOA administration login</a>
        </div>
    </div>
    <div class="card col-md-6 float-md-end mb-3 ms-md-3"
         style="width: 18rem; padding: 20px; margin: 40px">
        <img src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1546&q=80"
             class="card-img-top"
             alt="..." />
        <div class="card-body">
            <a target="_blank"
               class="
                    dropdown-item
                    justify-content-center
                    text-center
                    bg-info"

               href="">Home owners' login</a>
        </div>
    </div>  
</section>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@



